* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

main {
    position: relative;
}

header {
    width: 100%;
    z-index: 10;
    position: fixed;
}

.nav-bar {
    padding: 1.5rem 3rem 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-content {
    width: 100%;
}

.active-menu {
    padding: 0 3rem;
    display: flex;
    color: black;
    width: 100vw;
    background-color: var(--white);
}

section {
    height: 100vh;
}

section:last-of-type {
    height: fit-content;
}

/* ---- Media Query ---- */

@media screen and (min-width: 650px) {
    .nav-bar {
        /* padding: 1.5rem 3rem 1.5 3rem; */
        align-items: flex-start;
        position: relative;
        opacity: 0;
        transform: translateY(-100px);
    }

    .nav-content {
        padding: 5rem 3rem 1.5rem 0;
        display: flex;
        justify-content: flex-end;
        right: 0;
        top: 65px;
        position: absolute;
        opacity: 0;
        transition: opacity .2s linear;
    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        width: 277px;
    }

    .menu-btn.home:hover + .nav-content.home {
        opacity: 1;
    }

    .menu-btn.info:hover + .nav-content.info {
        opacity: 1;
    }

    .menu-btn.contact:hover + .nav-content.contact {
        opacity: 1;
    }

    .menu-btn.store:hover + .nav-content.store {
        opacity: 1;
    }


    .nav-bar.active-desktop {
        background-color: var(--white);
        color: var(--black);
        display: flex;
        height: 65px;
        opacity: 100%;
        transform: translateY(0);
        transition: opacity, transform, height, .5s ease-out;
        overflow: hidden;
    }

    .nav-bar.active-desktop:hover {
        background-color: var(--white);
        filter: drop-shadow(2px 2px 17px rgba(0, 0, 0, 0.05));
        height: 320px;
    }
}

/* ---- Hero Section || Start Frame ---- */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    pointer-events: none;
    position: absolute;
}

h1::before {
    color: var(--bone);
    top: 0;
    left: 0;
    height: 50%;
    content: attr(text-overlay);
    overflow: hidden;
    position: absolute;
}

.hero-img-left {
    background-color: var(--sand);
    height: 50%;
    width: 100%;
    background-image: url(/IMG/shape-md.jpg);
    background-position: bottom;
}

.hero-img-right {
    background-color: var(--green);
    height: 50%;
    width: 100%;
    background-image: url(/IMG/tin-md.jpg);
    background-position: top;
}

/* ---- Media Query ---- */

@media screen and (min-width: 650px){
    .hero-section {
        flex-direction: row;
    }

    h1::before {
        width: 50%;
        height: 100%;
    }

    .hero-img-left {
        z-index: 1;
        height: 100%;
        width: 50%;
        background-position: right;
    }
    
    .hero-img-right {
        z-index: 1;
        height: 100%;
        width: 50%;
        background-position: left;
    }
}

/* ---- Sign-up Section || Second Frame ---- */

.signup-section {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    padding: 0 2rem;
    max-width: 700px;
}

.signup-container > :not(h2) {
    margin-top: 15px;
}

/* ---- Products Section || Third Frame ---- */

.products-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: grid;
    row-gap: 4rem;
    column-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.card {
    height: 90vh;
    max-width: 700px;
    background-color: var(--bone);
    filter: drop-shadow(2px 2px 17px rgba(0, 0, 0, 0.55));    
}

.card img {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(100%);
    transition: filter .6s ease-out; 
}

.card:hover img {
    filter: brightness(55%);
}

.card .product-info {
    opacity: 0;
    display: flex;
}

.card:hover .product-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    opacity: 1;
    transition: opacity .6s linear;
}

.product-info .text-container .product-title {
    margin-bottom: 1rem;
}

.product-info .btn-container-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.none {
    background-color: var(--white);
    display: none;
}

/* .product-info.active-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    opacity: 1;
    transition: opacity .6s linear;
} */

/* ---- Media Query ---- */

@media screen and (min-width: 700px){
    .products-section {
        padding: 0 2rem;
    }
    .product-container {
        padding: 2rem 0;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 4rem;
        /* grid-template-rows: repeat(6, 1fr); */
    }
}
@media screen and (min-width: 1050px){
    .products-section {
        padding: 0 5rem;
    }
    .product-container { 
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
    }

    .none {
        display:flex;
    }
}

/* ---- Footer ---- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding-inline: 32px;
    padding-bottom: 96px;
    padding-top: 42px;
}

footer .footer-continer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 900px;
}

footer .footer-continer h3, footer .footer-continer p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

footer .footer-continer .social {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-block: 55px;
}

footer .footer-continer .social a {
    color: var(--black );
}

footer .footer-continer .social a i {
    font-size: 2.5rem;
}

footer .footer-continer img {
    height: 22px;
}

/* ---- Media Query ---- */

@media screen and (min-width: 700px) {
    footer .footer-continer .social {
        margin-block: 36 px;
    }

    footer .footer-continer img {
        height: 28px;
    }
}


/* ---- Buttons ---- */

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.btn {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 1.25em;
    font-size: 1rem;
    padding: 1.5em 2em;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
}

/* Temporary */
.test-btn {
    background-color: var(--white);
    color: var(--bone);
}

.btn:hover span {
    transform: scale(1.1);
}

.btn:active {
    background-color: #48342A;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.32);
    
    /* Kanske det inte ska vara en transition */
    /* transition: .4s box-shadow ease-out; */
}

.btn.large {
    font-size: 2rem;
}

.btn.xlarge {
    font-size: 3.31rem;
}