* {
    box-sizing: border-box;
}

html, body {
    /* background-color: var(--white); */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

main {
    position: relative;
}

main>img {
    z-index: -5;
    width: 100vw;
    height: 100vh;
    object-position: center;
    position: fixed;
}

/* Temporary */
.test-btn {
    background-color: var(--white);
    color: var(--bone);
}

.btn:hover span {
    transform: scale(1.1);
}

.btn:active {
    background-color: #48342A;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.32);
    
    /* Kanske det inte ska vara en transition */
    /* transition: .4s box-shadow ease-out; */
}

.btn.large {
    font-size: 2rem;
}

.btn.xlarge {
    font-size: 3.31rem;
}

/* ---- Form ---- */
input {
    font-family: 'Libre Baskerville', serif;
    color: var(--sand);
    background-color: var(--black);
    padding: 1em 1.5em;
    border: none;
    width: 100%;
    font-size: 1.125rem;
}


input:focus-visible {
    outline: 2px solid blue;
    border-radius: .1em;
}

@media screen and (min-width: 800px) {
    input {
        font-size: 1.5rem;
    }
}

header {
    width: 100%;
    z-index: 10;
    position: fixed;
}

.nav-bar {
    padding: 2rem 1.5rem 2rem 1.5rem;
    display: none;
    flex-direction: column;
    position: relative;
}

.nav-bar.active-mobile {
    display: flex;
}

.active-mobile {
    padding: 1.5rem;
    display: flex;
    color: black;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    visibility: visible;
    overflow: visible;
    animation: activeMobile 0.5s ease-out;
}

@keyframes activeMobile {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }    
}

.nav-bar .menu-btns {
    margin-top: 8rem;
    text-align: right;
}

.menu-btns, .logo {
    visibility: hidden;
    overflow: hidden;
    /* display: none; */
}

.logo {
    position: absolute;
    top: 36px;
}

.hamburger {
    z-index: 15;
    position: absolute;
    background-color: #4f5b4f42;
    width: 48px;
    height: 48px;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    box-shadow: 0 0 20px 0.10px #00000032;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.hamburger.active {
    opacity: 1;
    animation: hamburger 0.5s ease-out;
}

@keyframes hamburger {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


ul {
    list-style: none;
    gap: 2rem;
}

.nav-content ul{
    gap: 0;
}

.nav-content {
    visibility: hidden;
    overflow: hidden;
    display: none;
}

.active-mobile .logo, .active-mobile .menu-btns {
    visibility: visible;
    overflow: visible;
}

.active-mobile h3 {
    color: var(--green);
}


.active-mobile .nav-content.home.active, 
.active-mobile .nav-content.info.active, 
.active-mobile .nav-content.contact.active, 
.active-mobile .nav-content.store.active, 
.active-mobile .nav-content.search.active  {
        visibility: visible;
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem 0;
        width: 100%;
        gap: 0.5rem;
    }

/* .active-mobile a.home + .nav-content.home.active {
    color: var(--black);
} */

.active-mobile .nav-content.store.active a,
.active-mobile .nav-content.store.active hr,
.active-mobile .nav-content.info.active a,
.active-mobile .nav-content.info.active hr {
    display: none;
} 

.active-mobile .nav-content.home.active hr,
.active-mobile .nav-content.contact.active hr,
.active-mobile .nav-content.search.active hr {
    display: none;
} 


.menu-btn.search {
    height: 24px;
    width: 24px;
}

.menu-btn.search svg {
    transform: translateY(5px);
}

.menu-btn.search:hover path {
    stroke: var(--black);
}

section {
    height: 100vh;
}

/* ---- Media Query ---- */

@media screen and (min-width: 650px) {
    header {
        width: 100%;
    }
    .nav-bar {
        padding: 1.5rem 3rem 0 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        opacity: 0;
        transform: translateY(-100px);
    }

    .logo {
        position: inherit;
        top: 4px;
    }

    .nav-bar .menu-btns {
        margin: 0;
        text-align: right;
    }

    .menu-btns, .logo {
        visibility: visible;
        overflow: visible;
        /* display: flex; */
    }

    .hamburger {
        display: none;
    }

    ul {
        display: flex;
        gap: 4rem;
    }

    .nav-content {
        padding: 5rem 3rem 1.5rem 0;
        display: flex;
        justify-content: flex-end;
        right: 0;
        top: 65px;
        position: absolute;
        visibility: hidden;
        overflow: hidden;
    }

    .nav-content ul {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        width: 277px;
    }
    
    .nav-content.home.active, 
    .nav-content.info.active, 
    .nav-content.contact.active, 
    .nav-content.store.active, 
    .nav-content.search.active  {
        visibility: visible;
        overflow: visible;
    }

    .nav-bar.active-desktop {
        background-color: var(--white);
        color: var(--black);
        display: flex;
        height: 65px;
        opacity: 100%;
        transform: translateY(0);
        transition: opacity, transform, height, .6s ease-out;
        overflow: hidden;
    }

    .nav-bar.active-desktop:hover {
        background-color: var(--white);
        filter: drop-shadow(2px 2px 17px rgba(0, 0, 0, 0.05));
        height: 320px;
    }
}

@media screen and (min-width: 1150px) {

    ul {
        gap: 6rem;
    }

    .nav-content ul{
        text-align: right;
        gap: 0;
    }
}



/* ---- Hero Section || Start Frame ---- */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.heading-wrapper {
    z-index: 2;
    /* top: 50%;
    left: 50%; */
    display: flex;
    flex-direction: column;
    position: absolute;
}

h1 {
    white-space: nowrap;
    pointer-events: none;
}
h2.smaller {
    transform: translate(0%, -40%);
    white-space: nowrap;
    pointer-events: none;
}

h1::before {
    color: var(--bone);
    /* top: 0;
    left: 0; */
    height: 50%;
    content: attr(text-overlay);
    overflow: hidden;
    position: absolute;
}
h2.smaller::before {
    color: var(--bone);
    /* top: 0;
    left: 0; */
    height: 50%;
    /* content: attr(text-overlay); */
    overflow: hidden;
    position: absolute;
}

.hero-img-left {
    background-color: var(--sand);
    height: 50%;
    width: 100%;
    /* background-image: url(../IMG/shape-md.jpg); */
    background-position: bottom;
    overflow: hidden;
}

.hero-img-right {
    background-color: var(--green);
    height: 50%;
    width: 100%;
    /* background-image: url(../IMG/tin-md.jpg); */
    background-position: top;
    overflow: hidden;
}

.hero-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* ---- Media Query ---- */

@media screen and (min-width: 650px){
    .hero-section {
        flex-direction: row;
    }

    .heading-wrapper {
        top: 50%;
        left: 50%;
        transform: translate(0, -50%);
    }

    .heading-wrapper h1 {
        transform: translate(-50%, -50%);
    }

    h2.smaller {
        transform: translate(-50%, -140%);
    }

    h1::before, h2.smaller::before {
        width: 50%;
        height: 100%;
    }

    h2.smaller::before {
        content: attr(text-overlay);
    }

    .hero-img-left {
        z-index: 1;
        height: 100%;
        width: 50%;
        background-position: right;
    }
    
    .hero-img-right {
        z-index: 1;
        height: 100%;
        width: 50%;
        background-position: left;
    }
}

/* ---- Sign-up Section || Second Frame ---- */

.signup-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--sand);
    align-items: center;
    gap: 16px;
}

.btn.signup-btn {
    color: var(--sand);
    font-size: 1.125rem;
}

.signup-container {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--green);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 1rem 1.5rem;
    width: 100%;
}

.signup-section::before, .signup-section::after {
    content: '';
    width: 90%;
    height: 2px;
    background-color: var(--bone);
    margin: 0 5rem;
}

.signup-container h2 {
    font-size: 2rem;
    letter-spacing: 1px;
}

.signup-container > p {
    font-size: 1.125rem;
    color: var(--sand);
}

.signup-container .signup-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    width: 100%;
}
.signup-container .signup-form label {
    grid-column: 1/-1;
    font-size: 13px;
}
.signup-container .signup-form button {
    justify-self: center;
    margin-top: .5rem;
}

/* ---- Media Query ---- */
@media screen and (min-width: 800px) {
    .signup-section {
        gap: 32px;
    }

    .btn.signup-btn {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
    }

    .signup-container h2 {
        font-size: 48px;
        letter-spacing: 2px;
    }
    .signup-container p {
        font-size: 24px;
    }
    .signup-container .signup-form {
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 12px 21px;
        width: 65%;
    }
    .signup-container .signup-form label {
        grid-column: 1/2;
        font-size: 18px;
    }
    .signup-container .signup-form button {
        grid-column: 2/-1;
        grid-row: 1/3;
        align-self: end;
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .signup-container {
        max-width: 100%;
        padding: 60px 0.65rem;
    }

    .signup-container h2 {
        font-size: 102px;
        letter-spacing: 5px;
    }
    .signup-container p {
        font-size: 39px;
    }
    
}

/* ---- Products Section || Third Frame ---- */


.products-section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.product-container {
    display: grid;
    /* row-gap: 5rem; */
    column-gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
    ;
}

.card{
    position: relative;
    height: 70vh;
}

.card_transperent {
    height: 45vh;
}

/* Select all cards and add grid aria name 1 to 6 */
.card:nth-child(1) {
    grid-area: card1;
}
.card:nth-child(2) {
    grid-area: card2;
}
.card:nth-child(3) {
    grid-area: card3;
}
.card:nth-child(4) {
    grid-area: card4;
}
.card:nth-child(5) {
    grid-area: card5;
}
.card:nth-child(6) {
    grid-area: card6;
}

.card img {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.55);
    filter: brightness(100%);
    transition: filter .6s ease-out; 
}

.card:hover img, .card.active img {
    filter: brightness(55%);
}

.card .product-info {
    opacity: 0;
    display: none;
}
.card:hover .product-info, .card.active .product-info  {
    padding: 0.65rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    opacity: 1;
    transition: opacity .6s linear;
}

.hedder-continer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.hedder-continer i {
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
  }

.product-info .text-container .product-title {
    margin-bottom: 2rem;
}

.product-info .btn-container-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.none {
    background-color: var(--white);
    display: none;
}

.card_transperent .card_info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 29px;

    border: 2px solid var(--bone);
    border-top: none;
    border-left: none;
    padding: 21px;
    margin-inline: 24px;
    margin-bottom: 32px;
}

.card_transperent.right .card_info {
    border: 2px solid var(--bone);
    border-top: none;
    border-right: none;
}

.card .card_info::after {
    position: absolute;
    left: 0%;
    bottom: 21px;
    content: '';
    width: 2px;
    height: 50%;
    background-color: var(--bone);
}
.card_transperent.right .card_info::after {
    position: absolute;
    left: 100%;
    bottom: 21px;
}

.card_transperent .card_info span {
    position: absolute;
    bottom: -4px;
    left: calc(0% + -4px);
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--bone);
}
.card_transperent.right .card_info span {
    left: unset;
    right: 0px;
}

.card_transperent .card_info h3 {
    text-transform: uppercase;
    align-self: start;
}
.card_transperent.right  .card_info h3 {
    align-self: end;
}
.card_transperent .card_info p {
    position: absolute;
    top: 185px;
    left: 0;
    line-height: 1.5;
    letter-spacing: 0.22em;
}

/* ---- Media Query ---- */

@media screen and (min-width: 700px){
    .products-section {
        padding: 0 3rem;
    }
    .product-container {
        max-width: 750px;
        padding: 2rem 0;
        row-gap: 4rem;
    }

    .card:hover .product-info {
        padding: 1.4rem;
    }

    .card_transperent .card_info p {
        position: unset;
    }
}
@media screen and (min-width: 1150px){
    .products-section {
        padding: 0 5rem;
    }
    .product-container { 
        max-width: 1450px;
        grid-template-columns: repeat(2, 1fr);
        /* ____ TOMMI. Tycker nog vi ska ha lite row-gap ____ */
        /* -------------------------------------------------- */
        row-gap: 1.5rem;

        grid-template-areas: 
        "card1 card2"
        "card4 card3"
        "card5 card6"
    ;
    }

    .card{
        position: relative;
        height: 90vh;
    }

    .hedder-continer i {
        display: none;
    }
    
    .card_transperent {
        height: 90vh;
    }
    .card_transperent .card_info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        border: none;
        margin-inline: 0px;
    }

    .card_transperent.first-child  .card_info {
        border-top: 2px solid var(--bone);
        border-right: none;
        border-bottom: none;
        border-left: none;
    }
    .card_transperent:last-child .card_info {
        border-left: none;
        border-right: none;
    }

    .card_transperent .card_info:after, .card_transperent.right .card_info::after {
        bottom: 0px;
        height: calc(100% + 1px);
    }

    .card_transperent .card_info h3, .card_transperent.right .card_info h3 {
        align-self: center;
    }
    .card_transperent .card_info p, .card_transperent.right .card_info p {
        text-align: center;
        align-self: center;
    }

    .card_transperent .card_info span {
        display: none;
    }
    
    .card_transperent.first-child .card_info span {
        display: inline-block;
        left: 0px;
        right: unset;
        bottom: unset;
        top: -9px;
    }
    .card_transperent:last-child .card_info span {
        display: inline-block;
        right: 20px;
        bottom: -4px;
    }

    .none {
        display:flex;
    }
}

/* ---- Trash Section---- */
.trash-section {
    height: auto;
    background-image: linear-gradient(var(--trans-white), var(--trans-green));
}
.trash-section img {
    height: 100%;
    width: 100%;
    /* aspect-ratio: 16/9; */
    object-fit: cover;
    margin-bottom: 24px;
}

.trash-section .text-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px 20px;
    padding-inline: 24px;
    padding-bottom: 116px;
}

.trash .text-container .column {
	display: flex;
	gap: 24px;
	flex-direction: column;
}

.trash-section .text-container h2 {
    grid-column: 1 / -1;
    font-size: 2rem;
}

.trash-section .text-container .column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.trash-section .text-container .colum  p {
    line-height: 1.3;
}

/* ---- Media Query ---- */
@media screen and (min-width: 840px) {
    .trash-section .text-container {
        padding-inline: 80px;
        padding-top: 80px;

    }
}
@media screen and (min-width: 1100px) {
    .trash-section .text-container{
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 378px;
    }
    .trash-section .text-container h2 {
        grid-column: 1 / -1;
        font-size: 6.375rem;
    }
    .trash-section .text-container .column  p {
        line-height: 1.45;
        font-size: 1.5rem;
    }
    .trash-section .text-container .column  p:last-child {
        grid-column: 2 / -1;
    }
}

/* ---- Footer Section ---- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding-inline: 32px;
    padding-bottom: 96px;
    padding-top: 42px;
}

footer .footer-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 900px;
}

footer .footer-container h3, footer .footer-container p {
    text-align: center;
}

footer .footer-container .social {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-block: 55px;
}

footer .footer-container .social a {
    color: var(--black );
}

footer .footer-container .social a i {
    font-size: 2.5rem;
}

footer .footer-container img {
    height: 24px;
}

/* ---- Media Query ---- */

@media screen and (min-width: 700px) {
    footer .footer-container .social {
        margin-block: 36 px;
    }

    footer .footer-container img {
        height: 28px;
    }
}


/* ---- Buttons ---- */

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25em;
    color: var(--white);
    background-color: var(--black);
    font-size: 1rem;
    padding: 1.5em 2em;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
}