* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--sand);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
}

header {
    padding: 2rem 2rem 0 2rem;
    width: 100%;
    z-index: 1000;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    height: 100vh;
}

section:last-of-type {
    height: 200vh;
}

/* ---- Hero Section || Start Frame ---- */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    pointer-events: none;
    position: absolute;
}

h1::before {
    color: var(--pudding);
    top: 0;
    left: 0;
    height: 50%;
    content: attr(data-heading);
    overflow: hidden;
    position: absolute;
}

.hero-img-left {
    background-color: var(--sand);
    height: 50%;
    width: 100%;
}

.hero-img-right {
    background-color: var(--leaf);
    height: 50%;
    width: 100%;
}

/* ---- Media Query ---- */

@media screen and (min-width: 650px){
    .hero-section {
        flex-direction: row;
    }

    h1::before {
        width: 50%;
        height: 100%;
    }

    .hero-img-left {
        height: 100%;
        width: 50%;
    }
    
    .hero-img-right {
        height: 100%;
        width: 50%;
    }
}

/* ---- Sign-up Section || Second Frame ---- */

.signup-section {
    background-color: var(--bone);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    padding: 0 2rem;
    max-width: 700px;
}

.signup-container > :not(h2) {
    margin-top: 15px;
}

/* ---- Products Section || Third Frame ---- */

.products-section {
    display: flex;
    justify-content: center;
    padding: 0rem;
}

.product-container {
    width: 100%;
    display: grid;
    gap: 2rem;
}

.product {
    background-color: palevioletred;
    justify-self: stretch;
}
/* ---- Media Query ---- */

@media screen and (min-width: 650px){
    .products-section {
        padding: 2rem;
    }
    .product-container { 
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4rem;
    }
}
@media screen and (min-width: 850px){
    .product-container { 
        grid-template-columns: repeat(2, 1fr);
    }
    .products-section {
        padding: 2rem;
    }
}

/* ---- Buttons ---- */
.buttonContiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.btn {
    display: flex;
    align-items: center;
    gap: 1.25em;
    font-size: 1rem;
    font-family: 'Baskervville', serif;
    color: #fff;
    background-color: #231610;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
    padding: 1.5em 2em;
    border: none;
    cursor: pointer;
}

.btn:hover span {
    transform: scale(1.1);
}

.btn:active {
    background-color: #48342A;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.32);
    
    /* Kanske det inte ska vara en transition */
    /* transition: .4s box-shadow ease-out; */
}

.btn.large {
    font-size: 2rem;
}

.btn.xlarge {
    font-size: 3.31rem;
}