
/* 
font-family: 'Baskervville', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Notable', sans-serif;
font-family: 'Poppins', sans-serif;

Baskervville = Reg 400
Libre Baskerville = Bold 700
Notable = Reg 400
Poppins = Reg 400, Bold 700
 */

h1, h2, h3, p, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    color: var(--black);
    font-family: 'Baskervville', serif;
}

header, footer {
    font-family: 'Poppins', sans-serif;
}

h1,h2.smaller {
    font-family: 'Notable', sans-serif;
}

.btn, input {
    font-family: 'Baskervville', serif;
}

b {
    font-family: 'Libre Baskerville', serif;
}



ul a {
    font-size: 1.5rem;
    color: var(--bone);
}

ul a:hover, a, h1 {
    color: var(--black);
}

.nav-content a {
    font-size: 1rem;
    color: var(--green);
}

.nav-content a:hover {
    font-weight: bold;
    color: var(--green);
}

h1 {
    font-size: 3rem;
    transition: font-size .50s linear; 
    -o-transition: font-size .50s linear; 
    -moz-transition: font-size .50s linear; 
    -webkit-transition: font-size .50s linear; 
}

h2.smaller {
    top: -10px;
    font-size: 1.53rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    font-size: 1rem;
}

p {
    color: var(--black);
    word-spacing: 0.22em;
}


@media screen and (min-width: 700px){
    ul a {
        font-size: 1.5rem;
    }
    
    h1 {
        font-size: 3.1rem;
        transition: font-size .50s linear; 
        -o-transition: font-size .50s linear; 
        -moz-transition: font-size .50s linear; 
        -webkit-transition: font-size .50s linear; 
    }
    h2.smaller {
        font-size: 1.58rem;
    }
}

@media screen and (min-width: 1150px) {
    ul a {
        font-size: 1.5rem;
    }

    .nav-content li a {
        font-size: 1rem;
    }

    h1 {
        font-size: 4rem;
        transition: font-size .50s linear; 
        -o-transition: font-size .50s linear; 
        -moz-transition: font-size .50s linear; 
        -webkit-transition: font-size .50s linear; 
    }
    h2.smaller {
        font-size: 2.03rem;
    }
}

.product-title {
    color: var(--bone);
    font-size: 2rem;
    letter-spacing: 0.12rem;

}

.product-text {
    color: var(--white);
    font-size: 1.12rem;
    letter-spacing: 0.12rem;
    line-height: 1.56rem;
}
