/* font-family: 'Baskervville', serif;
font-family: 'Notable', sans-serif;
font-family: 'Poppins', sans-serif; */

h1, h2, h3, p, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    color: var(--black);
    font-family: 'Baskervville', serif;
}

header, footer {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Notable', sans-serif;
}

.btn {
    font-family: 'Baskervville', serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

ul a {
    font-size: 1.5rem;
    color: var(--bone);
}

ul a:hover, a, h1 {
    color: var(--black);
}

.nav-content a {
    font-size: 1rem;
    color: var(--green);
}

.nav-content a:hover {
    font-weight: bold;
    color: var(--green);
}


.nav-content ul{
    text-align: right;
    gap: 0;
}

h1 {
    font-size: 4.7rem;
    transition: font-size .50s linear; 
    -o-transition: font-size .50s linear; 
    -moz-transition: font-size .50s linear; 
    -webkit-transition: font-size .50s linear; 
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}


@media screen and (min-width: 700px){

    ul {
        gap: 4rem;
    }

    ul a {
        font-size: 1.5rem;
    }
    
    h1 {
        font-size: 4rem;
        transition: font-size .50s linear; 
        -o-transition: font-size .50s linear; 
        -moz-transition: font-size .50s linear; 
        -webkit-transition: font-size .50s linear; 
    }
}

@media screen and (min-width: 1150px) {

    ul {
        gap: 6rem;
    }
    
    ul a {
        font-size: 1.5rem;
    }

    .nav-content ul{
        text-align: right;
        gap: 0;
    }

    .nav-content li a {
        font-size: 1rem;
    }
    
}

.product-title {
    color: var(--bone);
    font-size: 2rem;
    letter-spacing: 0.12rem;

}

.product-text {
    color: var(--white);
    font-size: 1.5rem;
    letter-spacing: 0.12rem;
    line-height: 2.5rem;
}
