html {
    color: var(--black);
    font-family: 'Baskervville', serif;
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    /* Temporary Font Family */
    font-family: sans-serif;
    color: var(--white);
    font-size: 4.7rem;
    transition: font-size .50s linear; 
    -o-transition: font-size .50s linear; 
    -moz-transition: font-size .50s linear; 
    -webkit-transition: font-size .50s linear; 
}

h2 {
    font-size: 1.5rem;
}


@media screen and (min-width: 650px){
    h1 {
        font-size: 4rem;
        transition: font-size .50s linear; 
        -o-transition: font-size .50s linear; 
        -moz-transition: font-size .50s linear; 
        -webkit-transition: font-size .50s linear; 
    }
}